<!doctype html>
<html lang="en">
  {% include "./partials/head.njk" %}
  <body>
    {% block header %}
    {% endblock %}
    <main>
      <div class="content">
        {% block main %}
          <h1>Quote</h1>
          <a class="button" href="result-page.html">Begin</a>
        {% endblock %}
      </div>
    </main>
    {% include "./partials/footer.njk" %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    {% block ajax %}
    {% endblock %}
  </body>
</html>
